autopep8==1.5.4
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
cryptography==3.0
decorator==4.4.2
gunicorn==20.0.4
idna==2.10
numpy==1.19.1
opencv-python==4.4.0.42
Pillow==7.2.0
pycodestyle==2.6.0
pycparser==2.20
python-dotenv==0.14.0
python-telegram-bot==12.8
pyzbar==0.1.8
qrcode==6.1
requests==2.24.0
six==1.15.0
toml==0.10.1
tornado==6.0.4
urllib3==1.25.10
